#login {
    padding-left:20px;
    padding-right:20px;
    border-radius: 20px;
}
a {
    text-decoration: none;
}
.login-page {
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: right;
    position: relative;
    margin-top: 5rem;
    
}
.form-right i {
    font-size: 50px;
}

.container {
    width: 100%;
    background-color: #F1E3E4;
    }