#signup {
  padding-left:20px;
  padding-right:20px;
}
a {
  text-decoration: none;
}
.signup-page {
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: right;
  position: relative;
  margin-top: 5rem;
  
}
.form-right i {
  font-size: 100px;

}

.container {
width: 100%;
background-color: #F1E3E4;
}
