form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    font-size: 3em;
}

label {
    margin-right: 10px;
    color: #ddd;
}

input {
    margin-bottom: 10px;
    background-color: #262626;
    border-radius: 5px;
    color:#ddd;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: .5em;
}

button {
    margin-top: 10px;
    background-color: #ddd;
    color: #1c1c1c;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 1em;
}

.exercise-row {
    display: flex;
    justify-content: space-between;
}
