/* body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
} */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}



.hero-banner-img {
 
  max-width: 700px;
  width: 100%;
  margin-top: -260px;
  margin-right: 70px;
 border-radius: 400px;

}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }
 .hero-banner-img {
    /* display: none; */
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}


  

